@media all and (max-width: 599px) and (min-width: 320px){
    /*图片展示区 开始*/
    .box-img{
        top:120px;
        height:221px;
        background-size: cover;
    }
    .content-g{
        left:15px;
        top:59px;
        width:150px;
        height:63px;
    }
    .content-g p img{
        width:100%;
    }
    .content-g p:nth-child(2){
        margin:10px 0 0;
    }
    .content-g p:nth-child(2) img{
        width:90%;
    }
    /*图片展示区 结束*/

    /*案例开始*/
    .anli .al-box{
        width:70%;
    }
    .anli .al-box h2 img{
        width:70%;
    }
    .contain .c-box h1{
        font-size: 16px;
        text-align: center;
    }
    .contain .c-box p{
        margin:55px 0 45px;
        line-height:28px;
        font-size:13px;
        color: rgb(150,150,150);
    }
    /*案例结束*/
}